<footer class="footer mt-auto py-1">
  <div class="container text-left">
    <span class="text-muted small">
      This product uses the TMDB API but is not endorsed or certified by TMDB.
      <br>
      <a href="https://www.themoviedb.org/" target="_blank">
        <img src="<%= asset_path('tmdb_logo.svg') %>" alt="TMDB Logo" height="15">
      </a>
    </span>
  </div>
</footer>
