<h2>Important Notice Regarding Your Cinematch Account</h2>

<p>Dear <%= @user.name %>,</p>

<p>Our records indicate that your account was created with a date of birth that shows you are under 13 years of age. According to our Terms of Service and legal requirements (Section 4.2), users must be at least 13 years old to use Cinematch.</p>

<p>As stated in our terms:</p>

<blockquote>
"If we discover that a user is under the age of 13, we reserve the right to immediately terminate and delete their account without prior notice."
</blockquote>

<p>If you believe this is an error, please contact our support team immediately at info@cinematch.net with proof of age documentation.</p>

<p><strong>Important:</strong> If we do not receive valid proof of age within 7 days, your account will be permanently deleted in accordance with our Terms of Service Section 9.2. This action cannot be undone, and all associated data will be removed from our systems.</p>

<p>Best regards,<br>
The Cinematch Team</p>
