<div class="modal fade save-progress-modal" id="surveyCompletionModal" tabindex="-1" aria-labelledby="surveyCompletionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="surveyCompletionModalLabel">
          <% if @survey_type == 'basic' %>
            Basic Survey Completed!
          <% else %>
            Extended Survey Completed!
          <% end %>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <% if @survey_type == 'basic' %>
          <div class="mb-4">
            <i class="fas fa-check-circle text-jonquil fa-3x mb-3"></i>
            <h4 style="color: var(--jonquil);">Great start!</h4>
            <p>We're generating your initial movie recommendations based on your responses.</p>
            <p class="mt-4" style="color: var(--jonquil);">Want even more personalized recommendations?</p>
          </div>
          <div class="d-flex justify-content-center gap-3">
            <a href="/surveys?type=extended" class="nav-button next-button">
              Take Extended Survey
            </a>
            <a href="/recommendations" class="nav-button complete-button">
              Skip to Recommendations
            </a>
          </div>
        <% else %>
          <div class="mb-4">
            <i class="fas fa-star text-jonquil fa-3x mb-3"></i>
            <h4 style="color: var(--jonquil);">Excellent!</h4>
            <p>Thank you for completing the extended survey. We're analyzing your responses to provide highly personalized recommendations.</p>
          </div>
          <div class="text-center">
            <a href="/recommendations" class="nav-button complete-button">
              View My Recommendations
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div> 
