:root {
  --space-cadet: #2b2d42ff;
  --jonquil: #efc81aff;
  --mint-green: #e9fff9ff;
  --engineering-orange: #ba2d0bff;
  --tufts-blue: #1a8fe3ff;
  --golden-glare: #ffd700ff;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--bs-body-font-family);
  background-color: var(--mint-green);
  background: var(--mint-green);
  color: var(--space-cadet);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--space-cadet);
  font-weight: 700;
}

.navbar {
  background-color: var(--space-cadet);
  padding: 10px 20px;
}

.navbar-brand {
  color: var(--jonquil) !important;
}

.nav-link {
  color: var(--mint-green) !important;
}

.nav-link:hover {
  color: var(--jonquil) !important;
}

.btn-primary {
  background-color: var(--tufts-blue);
  border-color: var(--tufts-blue);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--engineering-orange);
  border-color: var(--engineering-orange);
}

/* Custom styles for radio buttons as toggle buttons */
.btn-check:checked+.btn-outline-primary,
.btn-check:active+.btn-outline-primary {
  color: var(--mint-green);
  background-color: var(--tufts-blue);
  border-color: var(--tufts-blue);
}

.btn-check:focus+.btn-outline-primary,
.btn-check:checked:focus+.btn-outline-primary {
  box-shadow: 0 0 0 0.25rem rgba(26, 143, 227, 0.5);
  /* Adjust the color to match var(--tufts-blue) */
}

.btn-check:hover+.btn-outline-primary {
  color: var(--engineering-orange);
  background-color: var(--mint-green);
  border-color: var(--engineering-orange);
}

/* Ensure these styles don't get overridden */
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: var(--engineering-orange);
  background-color: var(--mint-green);
  border-color: var(--engineering-orange);
}

.btn-outline-primary:checked,
.btn-outline-primary:active,
.btn-outline-primary.active {
  color: var(--mint-green);
  background-color: var(--tufts-blue);
  border-color: var(--tufts-blue);
}

.form-control {
  border-radius: 0.25rem;
  border: 1px solid var(--tufts-blue);
}

.form-control:focus {
  border-color: var(--engineering-orange);
  box-shadow: none;
}

.container {
  padding-top: 20px;
}

.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: var(--jonquil);
  color: var(--engineering-orange);
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.popup-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-height: 90vh;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  z-index: 1001;
}

.popup-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
}

.popup-details img {
  width: 33.33%;
  height: auto;
  margin-right: 20px;
  object-fit: contain;
}

.popup-details .info {
  flex-grow: 1;
  max-width: 60%;
  overflow-y: auto;
}

.popup-details iframe {
  max-width: 100%;
  height: auto;
}

/* Accordion Customization */
.accordion-item {
  background-color: var(--space-cadet);
}

.accordion-header .accordion-button {
  background-color: var(--tufts-blue);
  color: var(--mint-green);
  font-weight: 700;
}

.accordion-header .accordion-button:focus {
  box-shadow: none;
}

.accordion-header .accordion-button:not(.collapsed) {
  background-color: var(--jonquil);
  color: var(--engineering-orange);
}

.accordion-body {
  background-color: #ffffff;
  color: var(--space-cadet);
  border-top: 1px solid var(--tufts-blue);
}
