<p>Hello <%= @resource.email %>!</p>

<p>This email confirms that the password for your Cinematch account has been changed.</p>

<p>If you did not make this change, please contact support immediately at info@cinematch.net.</p>

<p>Your Cinematch Team</p> 
