<p>Hello <%= @resource.email %>!</p>

<p>A request has been made to reset the password for your Cinematch account. You can do this by clicking the link below:</p>

<p><%= link_to 'Reset my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this change, please ignore this email.</p>
<p>Your password will remain unchanged unless you access the link above and create a new one.</p>

<p>Your Cinematch Team</p>
